img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.logo {
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    width: 150px;
    height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
.header {
    padding: 0px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    position: absolute;
  }
  
  .logo {
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    width: 150px;
    height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}

.aboutEmp p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    width: 200px;
    margin-left: 70px;
}

body {
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
main {
margin-left: 100px;
}
h1 {
    margin-top: 50%;
    color: black;
    font-size: 40px;
   text-align: center;
   margin-left: 50px;
}
p {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 30px;
    padding: auto;
    font-size: 20px;
}
h2 {
    margin-top: 50px;
    color: black;
    font-size: 40px;
   text-align: center;
   margin-left: 50px;
}