.overlay {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.overlay1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.overlay2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.overlay3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.overlay4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.overlay5 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

 #grid img {
    height: auto;
    width: 100%;
    display: block;
}
#grid { 
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-auto-flow: column;  /* or 'row', 'row dense', 'column dense' */
    margin-bottom: 220px;
    margin-left: 165px;
    margin-right: 50px;
    
    
  }
  
  #item1 {
    grid-row-start: 1;
  }
  
  #item2 {
  }
  
  #item3 {
  }
  
  #item4 {
  }
  
  #item5 {
  }
  #item6 {
  }