img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.logo {
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    width: 150px;
    height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
.header {
    padding: 0px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    position: absolute;
  }
  
  .logo {
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    width: 150px;
    height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}

.overlay {
  position: relative;
  bottom: 62px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
#contactContainer:hover .overlay {
  opacity: 1;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
    margin-left: 150px;
     
  }

  img {
    max-width: 100%
  }
  .images {
    flex-basis: 70%;
    order: 2;
    padding: 20px;
  }
  .textarea {
    margin-left: 5%;
    text-align: left;
  }

  .line {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 150px;
    border: 2px solid rgb(133, 132, 132);
  }

  .contactContainer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 150px;
     
  }

  .images1 {
    flex-basis: 70%;
    order: 2;
    padding: 20px;
  }
  .textarea1 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }

  .line1 {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 80%;
    margin-left: 150px;
    border: 2px solid rgb(133, 132, 132);
  }

  .container {
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 200px;
    height: 600px;
    width:80%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #045faa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #045faa98;
}

.container {
  border-radius: 5px;
  background-color: #c5c3c3ad;
  padding: 20px;
}

body {
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
main {
margin-left: 100px;
}