.overlay {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item1:hover .overlay {
    opacity: 1;
  }
  .overlay1 {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item2:hover .overlay1 {
    opacity: 1;
  }
  .overlay2 {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item3:hover .overlay2 {
    opacity: 1;
  }
  .overlay3 {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item4:hover .overlay3 {
    opacity: 1;
  }
  .overlay4 {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item5:hover .overlay4 {
    opacity: 1;
  }
  .overlay5 {
    position: relative;
    bottom: 62px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #item6:hover .overlay5 {
    opacity: 1;
  }

 #grid img {
    height: 100%;
    width: 100%;
    display: block;
}
#grid { 
    padding: 0;
    display: grid;
    gap: 15px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;  /* or 'row', 'row dense', 'column dense' */
    margin-bottom: 220px;
    margin-left: 165px;
    margin-top: 50%;
    margin-right: 50px;
    
    
  }
  
  #item1 {
    grid-row-start: 1;
  }
  
  #item2 {
  }
  
  #item3 {
  }
  
  #item4 {
  }
  
  #item5 {
  }
  #item6 {
  }