
  .icon-bar {
    width: 100px; /* Set a specific width */
    height: 100vh;
    background-color: #555; /* Dark-grey background */
    transition: scale 0.5s ease;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 1s ease; /* Add transition for hover effects */
    color: rgb(255, 255, 255); /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    transform: scale(1,1);
    box-shadow: 2px 1px 15px 2px black;
    color: white;
  }
  
  .active {
    transform: scale(1,1);
    box-shadow: 2px 1px 15px 2px black;
  }

  
 