img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.logo {
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    width: 150px;
    height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
.header {
    padding: 0px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
    top: 0;
    position: absolute;
  }
  .checked {
    color: yellow;
}
.stars {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    height: 50px ;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  label {
    font-size: 20px;
    font-style:italic;
}
.textarea {
    margin-top: 1%;
    text-align: center;
}

  .ratingContainer {
    width: 600px;
    margin-top: 45%;
    margin-left: 30%;
    align-content: center;
  }
  .ratingContainer1 {
    width: 600px;
    margin-top: 7%;
    margin-left: 30%;
    align-content: center;
  }
  .ratingContainer2 {
    width: 600px;
    margin-top: 7%;
    margin-left: 30%;
    align-content: center;
  }
  .ratingContainer3 {
    width: 600px;
    margin-top: 7%;
    margin-left: 30%;
    align-content: center;

  }

  .line {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 150px;
    border: 2px solid rgb(133, 132, 132);
  }

body {
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
main {
margin-left: 100px;
}